<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|git)$">
    Deny from all
</FilesMatch>

php_value session.gc_maxlifetime 604800

Options -MultiViews
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteCond $1 !^(index\.php|custom|uploads|uploads_thumbs|assets|robots\.txt)
    RewriteRule ^(.+)$ /examples/index.php?url=$1 [QSA,L]

    RewriteRule ^Vendor/.*\.php$ - [F,L]
</IfModule>

#<IfModule mod_alias.c>
#    RedirectMatch 404 /\.git  # use FilesMatch instead, see above
#</IfModule>
